Header {
    /* height: 3; */
    background: white;
    dock: top;
}

Footer {
    /* height: 3; */
    background: white;
    dock: bottom;
}



/* Animated button hover effects */
Button {
    transition: background 300ms;
}

Button:hover {
    background: $primary;
    text-style: bold;
}

.HoverBorder{
    border: tall $background;
}

SelectionList:hover, Input:hover, .HoverBorder:hover{
    border: tall $accent;
}

/* Widget.HoverBorder:hover{
    border: tall $accent;
} */

SelectCurrent:hover {
    border: tall $accent;
}


Sidebar {
    background: $panel;
}


MainContent{
    background: $background;
}

ParameterPanel{
    border: $panel;
}

.Parameter, .video_path{
    height: 3;
} 

.Parameter_Threshold{
    height: 5;
}


.Parameter_Label, .Parameter_detail {
    /* border: red; */
}

.Action{
    width: 1fr;
    margin: 1;
    height: 3;
}


.H_One_FR{
    width: 1fr;
}
.H_Two_FR{
    width: 2fr;
}
.H_Three_FR{
    width: 3fr;
}
.H_Four_FR{
    width: 4fr;
}


.V_Half_FR{
    height: 0.5fr;
}

.V_One_FR{
    height: 1fr;
}
.V_Two_FR{
    height: 2fr;
}
.V_Three_FR{
    height: 3fr;
}
.V_Four_FR{
    height: 4fr;
}

.Hidden {
    display: none;
}

.Center_All {
    align: center middle;
    text-align: center;
    content-align: center middle;
}


.Container {
    width: 1fr;
    height: 1fr;
    layout: vertical;
    overflow: hidden hidden;
}

.ScrollableContainer {
    width: 1fr;
    height: 1fr;
    layout: vertical;
    overflow: auto auto;
}

.Vertical {
    width: 1fr;
    height: 1fr;
    layout: vertical;
    overflow: hidden hidden;
}

.VerticalScroll {
    layout: vertical;
    overflow-x: hidden;
    overflow-y: auto;
}

.Horizontal {
    width: 1fr;
    height: 1fr;
    layout: horizontal;
    overflow: hidden hidden;
}

.HorizontalScroll {
    layout: horizontal;
    overflow-y: hidden;
    overflow-x: auto;
}

.Center {
    align-horizontal: center;
    width: 1fr;
    height: auto;
}

.Middle {
    align-vertical: middle;
    width: auto;
    height: 1fr;
}

.Grid {
    width: 1fr;
    height: 1fr;
    layout: grid;
}
